{{page-title "Edit"}}
<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Editer une section</h4>
    <div class="field">
      <label>Name</label>
      <Input type="text" name="first-name" placeholder="{{@model.name}}" @value={{@model.name}}/>
    </div>
<p>Ici que ca se passe</p>
    {{outlet}}

    <div class="ui segment">
      <h2>Produits</h2>
      <ul>
        {{#each @model.products as |product|}}
          <li>
            <LinkTo @route="order" @model={{product.id}}>{{product.name}}></LinkTo>
            <LinkTo class="ui button mini" @route="section.edit.edit" @model="{{product.id}}">Editer</LinkTo>
            <LinkTo class="ui button mini" @route="section.edit.delete" @model="{{product.id}}">Supprimer</LinkTo>
          </li>
        {{/each}}
      </ul>
    </div>

    <LinkTo class="ui button" @route="section">Annuler</LinkTo>
    <button class="ui button"{{ action 'editSection' @model }}>Valider edition</button>

  </form>
</div>
