{{page-title "Edit"}}
<div class="ui segment">
  <form class="ui form">
    <h4 class="ui dividing header">Edition : {{@model.product.name}}</h4>
    <div class="field">
      <label>Name</label>
      <Input type="text" name="first-name" placeholder="Nom produits" @value={{@model.product.name}}/>
    </div>

    <div class="field">
      <label>Description</label>
      <Input type="text" name="first-name" placeholder="Nom produits" @value={{@model.product.comments}}/>
    </div>

    <div class="field">
      <label>Prix</label>
      <Input type="text" name="first-name" placeholder="Nom produits" @value={{@model.product.price}}/>
    </div>

    <div class="field">
      <label>Promotion</label>
      <Input type="text" name="first-name" placeholder="Nom produits" @value={{@model.product.promotion}}/>
    </div>

    <div class="field">
      <label>Section</label>
      <UiDropdown class="selection" @selected={{@model.product.section}} @onChange={{fn (mut @model.section)}} as |execute mapper|>
        <div class="default text">Section</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each @model.sections as |section|}}
            <div data-value="{{map-value mapper section}}" class="item">
              {{section.name}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>

    <LinkTo class="ui button" @route="section">Annuler</LinkTo>
    <button class="ui button"{{action 'editProduct' @model.product}}>Valider</button>
  </form>
</div>
{{outlet}}