{{page-title "Order"}}
<p>Bonjour {{employee.id}}</p>
{{#each @model.orders as |order|}}
  <li>
    <LinkTo @route="order" @model={{order.id}}>
      {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
    </LinkTo>
  </li>
{{/each}}
{{outlet}}